@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

body, 
h1, h2, h3, h4, h5, h6, 
ul, ol, 
p {
	padding: 0;
	margin: 0;
	color: #213d51;
}

body * {
    box-sizing: border-box;
}

ul,
ol {
	list-style: none;
	color: #213d51;
}

a {
	text-decoration: none;
	color: #213d51;
}

img {
	max-width: 100%;
	max-height: 100%;
}

input {
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #213d5138;
    color: #213d51;
    outline-color: #ff9729;
}

input:hover {
    border-color: #213d518c;
}

input:active,
input:focus {
    border-color: #213d51d1;
}

.clearfix {
	float: none;
	clear: both;
}

.icon-mail {
	display: inline-block;
	width: 23px;
	height: 25px;
	background-image: url(../images/icons/mail.png);
	background-position: top left;
	background-size: 100% 100%;
	vertical-align: middle;
}

.icon-facebook {
	display: inline-block;
	width: 9px;
	height: 17px;
	background-image: url(../images/icons/facebook.png);
	background-position: top left;
	background-size: 100% 100%;
	vertical-align: middle;
}

.icon-linkedin {
	display: inline-block;
	width: 18px;
	height: 17px;
	background-image: url(../images/icons/linkedin.png);
	background-position: top left;
	background-size: 100% 100%;
	vertical-align: middle;
}

.icon-social-rss {
	display: inline-block;
	width: 17px;
	height: 17px;
	background-image: url(../images/icons/social-rss.png);
	background-position: top left;
	background-size: 100% 100%;
	vertical-align: middle;
}

.icon-twitter {
	display: inline-block;
	width: 21px;
	height: 17px;
	background-image: url(../images/icons/twitter.png);
	background-position: top left;
	background-size: 100% 100%;
	vertical-align: middle;
}