@media screen and (max-width: 2560px) {

	header .site-name {
		margin-top: -135px;
	}
	footer .widget.hot-line-numbers {
		margin-left: 22%;
	}

	footer .widget.follow-us {
		float: right;
	}

	.address-bar {
		top: 320px;
	}
}

@media screen and (max-width: 1900px) {
	.address-bar {
		top: 210px;
	}

	footer .widget.hot-line-numbers {
		margin-left: 12%;
	}

	footer .widget.follow-us {
		float: none;
	}
}

@media screen and (max-width: 1610px) {
	.address-bar {
		top: 210px;
	}

	footer .widget.hot-line-numbers {
		margin-left: 6%;
		margin-right: 6%;
	}
}

@media screen and (max-width: 1440px) {
	.calendar-visit-event{
		font-size: 14px;
	}

	.address-bar {
		top: 210px;
	}

	header .site-name {
		margin-top: -150px;
	}

	main {
		width: 80%;
	}

	.content {
		width: calc(100% - 450px);
		padding-left: 25px;
		padding-right: 25px;
	}

	.contact {
		width: calc(100% - 260px);
		padding-left: 25px;
		padding-right: 25px;
	}

	.right-sidebar {
		width: 190px;
	}

	.left-sidebar-navigation ul li {
		padding-top: 20px;
	}

	.left-sidebar-navigation ul li a {
		line-height: 1.2;
	}

	.left-sidebar {
		width: 260px;
	}

}

@media screen and (max-width: 1400px) {
	.address-bar {
		top: 210px;
	}

	header {
		height: 230px;
	}

	footer .container {
		width: 90%;
	}

	footer .widget.hot-line-numbers {
		width: 400px;
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 1300px) {
	.address-bar {
		top: 0px;
	}

	header {
		height: 250px;
	}

	header .site-name {
		font-size: 	23px;
	}
}

@media screen and (max-width: 1200px) {
	main {
		width: 95%;
	}

	footer .widget.hot-line-numbers {
		margin-left: 5%;
		margin-right: 5%;
	}

	footer .widget.follow-us {
		float: right;
	}
}

@media screen and (max-width: 1100px) {
	header {
		height: 200px;
	}
}

@media screen and (max-width: 1045px) {
	footer .container {
		width: 95%;
	}
}

@media screen and (max-width: 1024px) {
	header .left-side {
		width: 100% !important;
		height: calc(100% - 30px);
	}

	header .site-name {
		width: 50%;
		margin-top: 60px;
		margin-left: -4px;
	}

	header .right-side {
		width: 100% !important;
		height: 30px;
	}

	footer .widget.follow-us {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
}

@media screen and (max-width: 970px) {
	header {
		height: 140px;
	}

	header .logo {
		width: 95px;
		height: 130px;
	}

	header .site-name {
		margin-top: 38px;
		font-size: 16px;
	}

	header .p-central {
		position: static;
		transform: none;
	}
}

@media screen and (max-width: 860px) {
	footer .widget.hot-line-numbers {
		margin-right: 0;
		margin-left: 0;
		float: right;
	}
}

@media screen and (max-width: 850px) {
	.content {
		width: calc(100% - 380px);
	}

	.right-sidebar {
		margin-top: 9px;
		width: 140px;
	}

	.right-sidebar h2 {
		font-size: 15px;
	}

	.right-sidebar .connect {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.left-sidebar,
	.right-sidebar {
		width: 100%;
	}

	.left-sidebar h2 {
		position: relative;
	}

	.nav-open-toggle {
		display: block;
		float: right;
		width: 30px;
		height: 35px;
	}

	.left-sidebar .nav-open-toggle:after {
		position: absolute;
		content: "";
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		border-style: solid;
		border-width: 10px 10px;
		border-color: transparent transparent transparent #213d51;
	}

	.left-sidebar.open-menu .nav-open-toggle:after {
		right: 5px;
		top: calc(50% + 5px);
		border-color: #e9a154 transparent transparent transparent;
	}

	.left-sidebar-navigation {
		display: none;
	}

	.right-sidebar {
		float: none;
		margin-bottom: 30px;
	}

	.content {
		width: 100%;
		padding: 0;
		margin: 20px auto;
	}

	.contact {
		width: 100%;
		padding: 0;
		margin: 20px auto;
	}

	footer .widget.feedback,
	footer .widget.hot-line-numbers {
		width: 100%;
		text-align: center;
		float: none;
		margin-bottom: 20px;
		border-bottom: 1px solid #fff;
		padding-bottom: 10px;
	}
	footer .container {
		width: calc(95% - 40px);
	}

}

@media screen and (max-width: 660px) {
	header {
		height: auto;
		background-image: none;
	}

	header .p-central {
		width: 100% !important;
	}

	header .logo {
		width: 100px;
		height: 130px;
		margin: auto;
		float: none;
	}

	header .site-name {
		width: 100%;
		font-size: 20px;
		text-align: center;
		margin: 0;
	}
}

@media screen and (max-width: 425px) {
	header .site-name {
		font-size: 18px;
	}

	footer .container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 340px) {
	footer .copyright {
		font-size: 10px;
	}
}