header {
	background-color: rgb( 235, 235, 235 );
	background-image: url(../images/header-bg.png);
	background-position: top left;
	background-size: 100% 100%; 
  	height: 319px;
}

header .logo {
	display: block;
	float: left;
	background-image: url("../images/logo.png");
	background-position: top left;
	background-size: 100% 100%;
	width: 135px;
    height: 191px;
}

header .site-name {
    font-family: OpenSansBold;
    text-transform: uppercase;
    font-size: 30px;
    color: #213d51;
    font-weight: bold;
    line-height: 1.332;
    float: left;
    width: calc(100% - 155px);
    margin-top: 60px;
    margin-left: 20px;
}

header > div {
	position: relative;
	display: inline-block;
	width: 50%;
	vertical-align: top;
	height: 100%;
}

header > div:last-child {
    width: calc(50% - 5px);
}

header > div > div {
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    max-width: 100%;
    max-height: 100%;
}

.languages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.languages li {
	display: inline-flex;
	margin-left: 10px;
	
}

.languages li a {
	font-size: 15px;
	font-family: "OpenSansSemiBold";
	text-transform: uppercase;
	color: #2a3a46;
}

.languages li.current a {
	color: #e9a154;
}

main {
	width: 75%;
	margin: auto;
	margin-top: 50px;
}

.left-sidebar,
.right-sidebar {
	width: 250px;
	float: left;
}

.right-sidebar .widget-search form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-sidebar .widget-search form input {
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.content {
    width: calc(100% - 600px);
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

.left-sidebar h2,
.right-sidebar h2,
.news-wrap h2,
.official-message-warp h2 {
	font-size: 19.683px;
	font-family: "OpenSans";
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.03;
	border-bottom: 2px solid;
	padding-bottom: 10px;
}

.nav-open-toggle {
	display: none;
}

.left-sidebar-navigation ul li {
	position: relative;
}

.left-sidebar-navigation ul li a {
	font-size: 16.73px;
	font-family: "OpenSans";
	line-height: 3.682;
}

.left-sidebar-navigation ul li.current > a {
	color: #e9a154;
}

.left-sidebar-navigation ul li.has-submenu::after {
	position: absolute;
    content: "";
    border: 1px solid;
    border-width: 7px 7px;
    border-color: transparent transparent transparent #213d51;
    top: 25px;
    right: 4px;
}


.left-sidebar-navigation ul li.open.has-submenu::after,
.left-sidebar-navigation ul li.current.has-submenu::after {
	top: 30px;
    right: 9px;
    border-color: #e9a154 transparent transparent transparent;
}

.left-sidebar-navigation ul.sub-menu {
	display: none;
	padding-left: 20%;
}

.left-sidebar-navigation li.has-submenu {
	padding-right: 20px;
	cursor: pointer;
}

.left-sidebar-navigation li.has-submenu.open ul.sub-menu,
.left-sidebar-navigation li.has-submenu.current ul.sub-menu {
	display: block;
}

.left-sidebar-navigation ul.sub-menu li a {
	line-height: 1.618;
}

.right-sidebar .connect {
	display: block;
	background-color: #ff9729;
	color: #fff;
	margin-top: 20px;
	text-align: center;
	font-size: 17.714px;
	font-family: "OpenSans";
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.5;
}

.right-sidebar .connect .icon-mail {
	margin-right: 10px;
}

.article {
	margin-top: 20px;
}

.official-message {
	margin-top: 40px;
}

.article .thumbnail img {
	width: 100%;
	height: auto;
}

.article time,
.official-message time {
	display: block;
	font-size: 14.754px;
	font-family: "OpenSans";
	padding: 10px 0;
}

.article h3,
.official-message h3 {
	font-size: 25.574px;
	font-family: "OpenSans";
	font-weight: bold;
	padding-bottom: 30px;
}

.official-message h3 {
	padding-bottom: 15px;
}

.all-news,
.see-all {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px 0;
	text-align: right;
}

.all-news a,
.see-all a {
	font-size: 17.714px;
	font-family: "OpenSans";
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

footer {
	background: #213d51;
	color: #fff;
	margin-top: 60px;
}

footer .container {
	padding: 20px;
	width: 75%;
	margin: auto;
}

footer .widget {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

footer .widget.feedback {
    width: 330px;
}

footer .widget.hot-line-numbers {
	width: 470px;
	margin-left: 12%;
	margin-right: 12%;
}

footer .widget.hot-line-numbers li span.left {
	float: left;
}

footer .widget.hot-line-numbers li span.right {
	float: right;
}

footer .widget.feedback ul li,
footer .widget.hot-line-numbers ul li {
    display: flow-root;
}

footer .widget h4,
footer .widget li,
footer .widget li a {
	color: #fff;
  	font-size: 14.754px;
  	font-family: "OpenSansLight";
}

footer .widget h4 {
	text-align: justify-all;
	text-transform: uppercase;
	display: block;
	width: 100%;
	font-size: 17.705px;
	font-family: "OpenSansSemiBold";
	margin-bottom: 10px;
}

footer .widget.follow-us {
    width: 110px;
}

footer .widget.follow-us ul {
	display: inline-flex;
}

footer .widget.follow-us ul li {
	margin-left: 5px;
	margin-right: 5px;
  	font-size: 14.754px;
  	font-family: "OpenSansLight";
}

footer .copyright {
	margin-top: 50px;
	font-size: 11.803px;
	font-family: "OpenSansLight";
}